<p>
    Attention!   
    <br>
    Stream <b>"{{.StreamName}}"</b> was stoped with status <b>"{{.StopedStatus}}"</b>!
    <br>
    Stream ID: <b>"{{.StreamID}}"</b>
    <br>
    Host: <b>"{{.NodeHost}}"</b>
</p>
